<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akhil.nikhil.paypark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/parking"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".start_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserSigin" />
        <activity android:name=".user_createacc" />
        <activity android:name=".create_sp" />
        <activity android:name=".sp_login" />
        <activity android:name=".user_home_page" />
        <activity android:name=".pay" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCcAY_nsXH2M7yJ8ACE1VYVj0I2FrTbnDM" />

        <activity android:name=".Start_activity" />
        <activity android:name=".Sp_home" />
        <activity android:name=".sp_end" />
        <activity android:name=".User_end" />
        <activity android:name=".PlacePickerActivity" />
        <activity android:name=".ProceedFilterActivity" />

    </application>

</manifest>